@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --background-color: #393e46;
  --text-color: #eeeeee;
  --aux-color: #00adb5;
}

:root {
  --body-font: "Poppins", sans-serif;
  --big-font-size: 3.6rem;
  --h2-font-size: 2rem;
  --normal-font-size: 1.8rem;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  background-color: var(--background-color);
  font-family: var(--body-font);
}

h1,
h2,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

.header-bg {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 25%);
}

.menu-container {
  max-width: 1024px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*.header-bg {
  background-color: #25282d;
  max-width: 1024px;
  height: 27px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}*/

/*.menu {
  max-width: 1024px;
  height: 27px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}*/

.logo {
  font-size: var(--normal-font-size);
}

.logo a {
  color: var(--text-color);
}

.logo span {
  color: var(--aux-color);
}

.container-menu {
  display: flex;
  font-size: var(--normal-font-size);
}

.container-menu li {
  margin: 0px 10px 0 10px;
}

.container-menu a {
  color: #eeeeee;
}

.nav-link:hover {
  border-bottom: 0.25rem solid var(--aux-color);
}

.container-main {
  max-width: 1024px;
  height: 30vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20rem;
}

.container-apresentacao {
  display: flex;
  flex-direction: column;
}

.apresentacao {
  font-size: var(--big-font-size);
  color: var(--text-color);
  line-height: 200%;
}

.apresentacao span {
  color: var(--aux-color);
}

.botao {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--h2-font-size);
  text-align: center;
  max-width: 120px;
  padding: 0.75rem 2.5rem;
  border: 2px solid var(--aux-color);
  border-radius: 0.8rem;
  margin-top: 2rem;
}

.botao:hover {
  background-color: var(--aux-color);
}

.container-foto {
  color: white;
}

.foto {
  height: 500px;
  width: 310px;
  background-image: url("img/foto.png");
  background-repeat: no-repeat;
  position: relative;
  top: -25px;
}

.redes-sociais-container {
  max-width: 1024px;
  margin: 0 auto;
}

.redes-sociais {
  display: flex;
  justify-content: space-between;
  max-width: 180px;
}

.redes-sociais a {
  margin-top: 1rem;
  padding: 1rem;
  color: var(--text-color);
  font-size: var(--h2-font-size);
}

.container-arrow-div {
  max-width: 1024px;
  height: 35vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.container-arrow {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
